@font-face {
    font-family: xmas;
    src: url(fonts/christmas/christmas.otf);
    font-style: normal;
    font-display: fallback; /* auto, block, swap, fallback, optional */
}
/*
@font-face {
    font-family: xmas;
    src: url(fonts/christmas/christmas-italic.otf);
    font-style: italic;
}
@font-face {
    font-family: xmas;
    src: url(fonts/christmas/christmas-bold.otf);
    font-weight: bold;
}
*/
body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: red;
}
p {
    font-family: xmas;
    font-style: italic;
    color: blue;
}

.css-sprite-delivery-truck
{
    background:url('../images/css-sprite-combined.png') 0px -0px;
    display:inline-block;
    width:128px;
    height:128px;
}

.css-sprite-black-friday
{
background:url('../images/css-sprite-combined.png') -128px -0px;
width:128px;height:128px;
display:inline-block;
}

.css-sprite-best-seller
{
background:url('../images/css-sprite-combined.png') -256px -0px;
width:128px;height:128px;
display:inline-block;
}

.item {
    font-size: 50px;
}


.nav-item {
    color: orange;
}

.nav-head {
}

.nav {
    
}

/*
div.nav > ul.items > li.item {

}
*/

:root {
    --primary-bgcolor: lightgreen;
    --primary-forecolor: brown;
    --radius-width: 50px;
    --font-size: 20px;
}

button {
    --space-width: 10px;
    --primary-bgcolor: yellow;
    background-color: var(--primary-bgcolor);
    color: var(--primary-forecolor);
    border-radius: var(--radius-width);
    margin: var(--space-width);
    padding: var(--space-width);
}

div.box {
    background-color: var(--primary-bgcolor);
    color: var(--primary-forecolor);
    border-radius: var(--radius-width);
}

@media screen and (min-width: 700px) {
    :root {
        --font-size: 30px;
    }
}

